:root {
    --linear-gradient: linear-gradient(90deg, #38bdf8, #6d28d9, #4c1d95);
    --text-color: #d1d5db;
    --text-color-2: #c8ced6;
    --background-color: #262626;

    --primary-color: #6d28d9;
    --secondary-color: #4c1d95;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--linear-gradient);
    color: var(--text-color);
}

.calculator {
    min-width: 340px;
    padding: 40px;
    margin: 1em;
    background-color: var(--background-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .323);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-calculator {
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.title-calculator::after {
    content: "";
    position: absolute;
    background: var(--linear-gradient);
    width: 150px;
    height: 3px;
    bottom: 5px;
    left: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.input-field label {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-2);
}

.input-field input {
    font-size: 17px;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--text-color);
    outline: none;
}

.result {
    text-align: center;
}

.result p {
    font-size: 40px;
}

.buttons {
    display: flex;
    gap: 1em;
}

.buttons input {
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons input:hover {
    background: var(--primary-color);
    scale: 1.01;
}
 
@media (max-width: 900px) {
    .title-calculator::after {
        width: 0;
    }
}